.footer-main-container {
    position: fixed;
    width: 100%;
    background: #555;
    bottom: 0px;
    z-index: 100;
}

.footer-container {
    display: flex;
    height: 10rem;
    justify-content: center;
    align-items: center;
    background: #555;
    color: rgb(255, 255, 255);
}

.footer-item-container {
    max-width: 9rem;
    margin: 0.5rem;
}

.footer-item {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

.footer-name-container {
    background: #555;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    bottom: 1.2rem;
}